.App {
  text-align: center;
}

.grid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(50, 2fr);
  grid-gap: 1px;
}

.cell{
  width: 20px;
  height: 15px;
  background: #877ec4;
  padding: 1px 3px ;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
} 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clicked-cell{
  background:rgb(220, 235, 22);
  cursor: pointer;

}

.fibonacci-cell{
  background: #1ef33a;
}